input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  margin-top: 50px;
}

button {
  width: 100px;
  height: 100px;
}

input {
  width: 50%;
  height: 50px;
  border-width: 15px;
  font-size: x-large;
}

.input-field {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}